@import url(variables.css);
@import url(fonts.css);

* {
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}

body {
    background-color: var(--color-1);
    background-image: url(../storage/img/bgAccount.svg);
}

.header,
.main,
.footer {
    padding: var(--space-layout-padding-lr);
}

.header {
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo img,
.header__menu img {
    width: var(--width-img-header);
    height: var(--height-img-header);
}

.information__values {
    display: flex;
    gap: 50px;
}

.values__assets,
.values__savings {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.values__savings h3,
.values__assets h3 {
    font-family: 'SF-Pro-Text-Regular', sans-serif;
    color: var(--color-4);
    font-size: 1rem;
}

.values__savings span,
.values__assets span {
    display: flex;
    align-items: baseline;
    font-family: 'Roboto-Bold', sans-serif;
    color: var(--color-4);
    font-size: 1.7rem;
}

.progress-container {
    width: 100%;
    height: 12px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: var(--color-2);
    transition: width 0.5s ease-in-out;
}

.values__assets .progress-bar {
    background-color: var(--color-3);
}

.information__welcome {
    margin-bottom: 40px;
}

.information__welcome h2,
.information__welcome p {
    color: var(--color-4);
    font-size: 2.2rem;
}

.information__welcome h2 {
    font-family: 'SF-Pro-Text-Heavy';
}

.information__welcome p {
    font-family: 'SF-Pro-Text-Light';
}