@import url(variables.css);
@import url(fonts.css);

* {
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}

body {
    background-color: var(--color-1);
    background-image: url(../storage/img/bgAccount.svg);
}

.header,
.footer {
    padding: var(--space-layout-padding-lr);
}

.header {
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

h1{
    font-family: 'SF-Pro-Text-Bold',sans-serif;
    color: var(--color-4);
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.header__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo img,
.header__menu img {
    width: var(--width-img-header);
    height: var(--height-img-header);
}

.information__values {
    display: flex;
    gap: 50px;
}

.values__assets,
.values__savings {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.values__savings h3,
.values__assets h3 {
    font-family: 'SF-Pro-Text-Regular', sans-serif;
    color: var(--color-4);
    font-size: 1rem;
}

.values__savings span,
.values__assets span {
    display: flex;
    align-items: baseline;
    font-family: 'Roboto-Bold', sans-serif;
    color: var(--color-4);
    font-size: 1.7rem;
}

.progress-container {
    width: 100%;
    height: 12px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: var(--color-2);
    transition: width 0.5s ease-in-out;
}

.values__assets .progress-bar {
    background-color: var(--color-3);
}

.account__information{
    padding: var(--space-layout-padding-lr);
    margin-bottom: 40px;
}

.information__welcome {
    margin-bottom: 40px;
}

.information__welcome h2,
.information__welcome p {
    color: var(--color-4);
    font-size: 2.2rem;
}

.information__welcome h2 {
    font-family: 'SF-Pro-Text-Heavy';
}

.information__welcome p {
    font-family: 'SF-Pro-Text-Light';
}

.transactions__information{
    padding: var(--space-layout-padding-lr);
}

.transactions__information {
    background-color: var(--color-4);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.activities__nav h2, .information__transactions h2 {
    font-family: 'SF-Pro-Text-Bold';
    padding-top: 40px;
    color: var(--color-1);
}

.nav__ul {
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    justify-content: space-between;
}

.nav__ul li {
    list-style: none;
}

.nav__ul li a {
    width: 100px;
    height: 140px;
    font-family: "EncodeSans-Medium";
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    color: var(--color-1);
    background: var(--color-5);
    box-shadow: 0 0 15px #323f4e26;
    flex-direction: column;
    justify-content: center;
    font-family: 'SF-Pro-Text-Semibold', sans-serif;
    justify-content: center;
}
.nav__ul li a img{
    margin-bottom: 10px;
}

.content__card{
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: space-around;
}

.card__text{
    display: flex;
    width: 80%;
    flex-direction: column;
}
.text__info{
    display: flex;
    justify-content: space-between;
}

.text__info h3{
    font-family: 'SF-Pro-Text-Bold',sans-serif;
    font-size: 1rem;
}
.text__info p{
    font-family: 'SF-Pro-Text-Medium',sans-serif;
    font-size: 0.8rem;
    color: var(--color-3);
    font-weight: lighter;
}