<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/balance.css" />
    <title>Balance</title>
  </head>

  <body>
    <div class="bg">
      <img src="../storage/img/bgBalance.svg" alt="" />
    </div>
    <header class="header">
      <a class="logo" href="home.html">
        <div class="header__logo">
            <img src="../storage/img/newlogo.svg" alt="" />
            <h1>INVETO</h1>
        </div>
    </a>
      <div class="mega__menuD">
        <a href="../views/balance.html">Balance</a>
        <a href="../views/cards.html">Cards</a>
        <a href="../index.html">Account</a>
      </div>
      <div class="header__menu">
        <img src="../storage/img/menuLinesWhite.svg" alt="" />
      </div>
    </header>
    <main>
      <section class="balance">
        <article class="balance__container">
          <h2 class="balance__title">Total <br />Balance</h2>
          <span class="balance__amount">
            <sub class="balance__currency">$</sub>47,417
          </span>
        </article>
      </section>

      <section class="graphics">
        <div class="graphics__buttons">
          <a href="" class="graphics__button">Assets</a>
          <a href="" class="graphics__button">Debt</a>
          <a href="" class="graphics__button">Income</a>
        </div>
        <img
          class="graphics__image"
          src="../storage/img/balance.svg"
          alt="Balance Graphic"
        />
        <nav class="graphics__days">
          <a href="" class="graphics__day">S</a>
          <a href="" class="graphics__day">M</a>
          <a href="" class="graphics__day">T</a>
          <a href="" class="graphics__day">W</a>
          <a href="" class="graphics__day">T</a>
          <a href="" class="graphics__day">F</a>
          <a href="" class="graphics__day">S</a>
        </nav>
      </section>

      <section class="banner__info">
        <article class="banner__content">
          <div class="banner__icon">
            <img src="../storage/img/user-id.svg" alt="Banner Image" />
          </div>
          <div class="banner__text">
            <div class="banner__close">
                <a href="" class="button__close">
                    x
                </a>
            </div>
            <div class="">
                <h2 class="banner__title">Spending.</h2>
                <p class="banner__description">
                  You forgot to add debt card number at payment #1323. Add it now.
                </p>
            </div>
          </div>
        </article>
      </section>
    </main>
    <footer class="footer">
      <ul class="footer__ul">
        <li class="footer__li">
          <a href="../index.html" class="footer__link">
            <img
              src="../storage/img/fHome.svg"
              alt="Home"
              class="footer__img"
            />
          </a>
        </li>
        <li class="footer__li">
          <a href="balance.html" class="footer__link">
            <img
              src="../storage/img/fContentGreen.svg"
              alt="Balance"
              class="footer__img"
            />
          </a>
        </li>
        <li class="footer__li">
          <a href="cards.html" class="footer__link">
            <img
              src="../storage/img/fMenu.svg"
              alt="Cards"
              class="footer__img"
            />
          </a>
        </li>
        <li class="footer__li">
          <a href="../index.html" class="footer__link">
            <img
              src="../storage/img/fMessage.svg"
              alt="Messages"
              class="footer__img"
            />
          </a>
        </li>
        <li class="footer__li">
          <a href="../index.html" class="footer__link">
            <img
              src="../storage/img/fAccount.svg"
              alt="Account"
              class="footer__img"
            />
          </a>
        </li>
      </ul>
    </footer>
    <footer class="footer__desktop">
      <div class="footer__container">
        <div class="footer__column">
          <h2 class="footer__title">Company</h2>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__link">About</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Careers</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Brand Center</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Blog</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <h2 class="footer__title">Help center</h2>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__link">Discord Server</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Twitter</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Facebook</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <h2 class="footer__title">Legal</h2>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__link">Privacy Policy</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Licensing</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Terms & Conditions</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <h2 class="footer__title">Download</h2>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__link">iOS</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Android</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">Windows</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">MacOS</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__bottom">
        <span class="footer__copyright"
          >© 2024
          <a href="https://flowbite.com/" class="footer__link">EDAX</a>.
          All Rights Reserved.</span
        >
        <div class="footer__social-links">
          <a href="#" class="footer__social-link">Facebook</a>
          <a href="#" class="footer__social-link">Discord</a>
          <a href="#" class="footer__social-link">Twitter</a>
          <a href="#" class="footer__social-link">GitHub</a>
          <a href="#" class="footer__social-link">Dribbble</a>
        </div>
      </div>
    </footer>
  </body>
</html>
