<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/balance.css" />
    <title>Balance</title>
  </head>

  <body>
    <div class="bg">
      <img src="../storage/img/bgBalance.svg" alt="" />
    </div>
    <header class="header">
      <div class="header__logo">
        <a href="#" class="header__logo-link">
          <img
            src="../storage/img/logo.svg"
            alt="Invento"
            class="header__logo-img"
          />
          <h1 class="header__logo-title">INVETO</h1>
        </a>
      </div>
      <button class="header__menu-btn">
        <img src="../storage/img/menuLinesWhite.svg" alt="Menu" />
      </button>
    </header>
    <main>
      <section class="balance">
        <h2 class="balance__title">Total <br />Balance</h2>
        <span class="balance__amount"
          ><sub class="balance__currency">$</sub>47,417</span
        >
      </section>

      <section class="graphics">
        <div class="graphics__buttons">
          <a href="" class="graphics__button">Assets</a>
          <a href="" class="graphics__button">Debt</a>
          <a href="" class="graphics__button">Income</a>
        </div>
        <img
          class="graphics__image"
          src="../storage/img/balance.svg"
          alt="Balance Graphic"
        />
        <nav class="graphics__days">
          <a href="" class="graphics__day">S</a>
          <a href="" class="graphics__day">M</a>
          <a href="" class="graphics__day">T</a>
          <a href="" class="graphics__day">W</a>
          <a href="" class="graphics__day">T</a>
          <a href="" class="graphics__day">F</a>
          <a href="" class="graphics__day">S</a>
        </nav>
      </section>

      <section class="banner info">
        <article class="banner__content">
          <div class="banner__icon">
            <img src="../storage/img/card.svg" alt="Banner Image" />
          </div>
          <div class="banner__text">
            <h2 class="banner__title">Spending.</h2>
            <p class="banner__description">
              You forgot to add debt card number at payment #1323. Add it now.
            </p>
          </div>
        </article>
      </section>
    </main>
    <footer class="footer">
      <ul class="footer__ul">
        <li class="footer__li">
          <a href="../index.html" class="footer__link">
            <img
              src="../storage/img/fHome.svg"
              alt="Home"
              class="footer__img"
            />
          </a>
        </li>
        <li class="footer__li">
          <a href="balance.html" class="footer__link">
            <img
              src="../storage/img/fContentGreen.svg"
              alt="Balance"
              class="footer__img"
            />
          </a>
        </li>
        <li class="footer__li">
          <a href="cards.html" class="footer__link">
            <img
              src="../storage/img/fMenu.svg"
              alt="Cards"
              class="footer__img"
            />
          </a>
        </li>
        <li class="footer__li">
          <a href="../index.html" class="footer__link">
            <img
              src="../storage/img/fMessage.svg"
              alt="Messages"
              class="footer__img"
            />
          </a>
        </li>
        <li class="footer__li">
          <a href="../index.html" class="footer__link">
            <img
              src="../storage/img/fAccount.svg"
              alt="Account"
              class="footer__img"
            />
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
