<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/balance.css">
    <title>Balance</title>
</head>

<body>
    <header class="header">
        <div class="header__logo">
            <a href="#" class="header__logo-link">
                <img src="../storage/img/logo.svg" alt="Invento" class="header__logo-img">
                <h1 class="header__logo-title">INVETO</h1>
            </a>
        </div>
        <button class="header__menu-btn">
            <img src="../storage/img/menuLinesWhite.svg" alt="Menu">
        </button>
    </header>
    <main>
        <section class="balance">
            <h2>Total <br>Balance</h2>
            <span class=""><sub>$</sub>47,417</span>
        </section>

        <section></section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li class="footer__li">
                <a href="../index.html" class="footer__link">
                    <img src="../storage/img/fHome.svg" alt="Home" class="footer__img">
                </a>
            </li>
            <li class="footer__li">
                <a href="balance.html" class="footer__link">
                    <img src="../storage/img/fContentGreen.svg" alt="Balance" class="footer__img">
                </a>
            </li>
            <li class="footer__li">
                <a href="cards.html" class="footer__link">
                    <img src="../storage/img/fMenu.svg" alt="Cards" class="footer__img">
                </a>
            </li>
            <li class="footer__li">
                <a href="../index.html" class="footer__link">
                    <img src="../storage/img/fMessage.svg" alt="Messages" class="footer__img">
                </a>
            </li>
            <li class="footer__li">
                <a href="../index.html" class="footer__link">
                    <img src="../storage/img/fAccount.svg" alt="Account" class="footer__img">
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>