<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cards.css">
    <title>Cards</title>
</head>

<body>
    <header class="header">
        <div class="header__logo">
            <img src="../storage/img/logoBlack.svg" alt="">
            <h1>INVETO</h1>
        </div>
        <div class="header__menu">
            <img src="../storage/img/menuLines.svg" alt="">
        </div>
    </header>
    <main class="main">
        <section class="investing-tips">
            <h2 class="investing-tips__title">Investing Tips</h2>
            <div class="investing-tips__item">
              <div class="investing-tips__item-image">
                <img src="../storage/img/piggyBank.svg" alt="" class="investing-tips__item-image-icon">
              </div>
              <div class="investing-tips__item-content">
                <h3 class="investing-tips__item-title">What is an ETF?</h3>
                <span class="investing-tips__item-author">By James B, PHD</span>
                <a href="" class="investing-tips__item-link">Learn more</a>
              </div>
            </div>
          </section>

        </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="../index.html">
                    <img src="../storage/img/fHome.svg">
                </a>
            </li>
            <li>
                <a href="balance.html">
                    <img src="../storage/img/fContent.svg">
                </a>
            </li>
            <li>
                <a href="balance.html">
                    <img src="../storage/img/fMenuGreen.svg">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/img/fMessage.svg">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/img/fAccount.svg">
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>