<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Home</title>
</head>

<body>
    <header class="header">
        <a class="logo" href="home.html">
            <div class="header__logo">
                <img src="../storage/img/newlogo.svg" alt="" />
                <h1>INVETO</h1>
            </div>
        </a>
        <div class="mega__menuD">
            <a href="balance.html">Balance</a>
            <a href="cards.html">Cards</a>
            <a href="../index.html">Account</a>
        </div>
        <div class="header__menu">
            <img src="../storage/img/menuLinesWhite.svg" alt="" />
        </div>
    </header>
    <main class="main">
        <section class="promo">
            <article class="promo__item">
                <div class="promo__item-content">
                    <h2 class="promo__item-title">Discover the <span>Fintech Trends in the World</span> of Travel in
                        2024</h2>
                    <p class="promo__item-text">
                        As the world recovers and the travel industry regains momentum, financial technologies (fintech)
                        are playing a crucial role. How can these innovations benefit the travel industry? And where can
                        fintech companies find growth opportunities?
                    </p>
                    <div class="promo__item-cta">
                        <a href="" class="promo__item-link">Get Started</a>
                    </div>
                </div>
                <img src="../storage/img/homeContent1.svg" alt="Home Content 1" class="promo__item-image" />
            </article>
        </section>
        <section class="services">
            <article class="services__information">
                <nav class="services__nav">
                    <div class="services__titles">
                        <h2 class="services__title">services</h2>
                        <h3 class="services__subtitle">Our top value categories for you</h3>
                    </div>
                    <ul class="services__nav-list">
                        <li class="services__nav-item">
                            <img src="../storage/img/homecontent2-1.svg" alt="Neobanks" class="services__nav-icon" />
                            <div class="services__nav-content">
                                <h4 class="services__nav-heading">Neobanks</h4>
                                <p class="services__nav-text">
                                    In this section, we’ll provide you with a list of the most reliable and secure
                                    neobanks in the market.
                                </p>
                            </div>
                        </li>
                        <li class="services__nav-item">
                            <img src="../storage/img/homecontent2-2.svg" alt="Digital Payments"
                                class="services__nav-icon" />
                            <div class="services__nav-content">
                                <h4 class="services__nav-heading">Digital Payments</h4>
                                <p class="services__nav-text">
                                    Simplify your payments with our digital payment solutions.
                                </p>
                            </div>
                        </li>
                        <li class="services__nav-item">
                            <img src="../storage/img/homecontent2-3.svg" alt="Digital Financial Planning"
                                class="services__nav-icon" />
                            <div class="services__nav-content">
                                <h4 class="services__nav-heading">Digital Financial Planning</h4>
                                <p class="services__nav-text">
                                    Need financial advice? Our digital financial planning tool will help you make
                                    informed decisions.
                                </p>
                            </div>
                        </li>
                    </ul>
                </nav>
            </article>
        </section>
        <section class="testimonials">
            <div class="testimonials__titles">
                <h2 class="testimonials__title">testimonials</h2>
                <h3 class="testimonials__subtitle">Our top value categories for you</h3>
            </div>
            <figure class="slider">
                <figcaption class="slider__caption">Slider</figcaption>
                <ul class="slider__list">
                    <li id="slide1" class="slider__item">
                        <img src="../storage/img/person.svg" alt="Home Slide 1" class="slider__image" />
                        <div>
                            <h3>Mark Smith <span>/ Travel Enthusiast</span></h3>
                            <div>
                                <img src="../storage/img/star.svg" alt="">
                                <img src="../storage/img/star.svg" alt="">
                                <img src="../storage/img/star.svg" alt="">
                                <img src="../storage/img/star.svg" alt="">
                                <img src="../storage/img/star.svg" alt="">
                            </div>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                        </div>
                    </li>
                    <li id="slide2" class="slider__item">
                        <img src="../storage/img/homecontent2.jpeg" alt="Home Slide 2" class="slider__image" />
                    </li>
                    <li id="slide3" class="slider__item">
                        <div class="slider__item-content">
                            <h2 class="slider__item-title">Example with other elements</h2>
                            <p class="slider__item-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dignissimos quisquam
                                aliquam tempore beatae a sequi officiis ullam repudiandae nihil ut fuga doloribus animi
                                corrupti, voluptatibus nemo aperiam. Officia, architecto.
                            </p>
                            <a href="" class="slider__item-link">Learn more</a>
                        </div>
                    </li>
                </ul>
            </figure>

            <nav class="menu" aria-label="Slider navigation">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#slide1" class="menu__link">1</a>
                    </li>
                    <li class="menu__item">
                        <a href="#slide2" class="menu__link">2</a>
                    </li>
                    <li class="menu__item">
                        <a href="#slide3" class="menu__link">3</a>
                    </li>
                </ul>
            </nav>
        </section>

        <section class="main__section">
            <article class="section__article">
                <img src="../storage/img/visaH.png" alt="Visa How FIs Can Boost Digital Marketing Strategies"
                    class="section__article-image" />
                <div class="section__article-content">
                    <h2 class="section__article-title main__section-title">Visa: How FIs can Boost Digital Marketing
                        Strategies</h2>
                    <p class="section__article-text main__section-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure deleniti dolore consequuntur
                        numquam provident illo in fuga, ullam repellat magnam necessitatibus atque vitae. Cupiditate
                        necessitatibus consequatur minus aliquam placeat quisquam!
                    </p>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="home.html">
                    <img src="../storage/img/fHomeGreen.svg" />
                </a>
            </li>
            <li>
                <a href="balance.html">
                    <img src="../storage/img/fContent.svg" />
                </a>
            </li>
            <li>
                <a href="cards.html">
                    <img src="../storage/img/fMenu.svg" />
                </a>
            </li>
            <li>
                <a href="index.html">
                    <img src="../storage/img/fMessage.svg" />
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/img/fAccount.svg" />
                </a>
            </li>
        </ul>
    </footer>
    <footer class="footer__desktop">
        <div class="footer__container">
            <div class="footer__column">
                <h2 class="footer__title">Company</h2>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Careers</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Brand Center</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h2 class="footer__title">Help center</h2>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Discord Server</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Twitter</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Facebook</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h2 class="footer__title">Legal</h2>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Privacy Policy</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Licensing</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Terms & Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h2 class="footer__title">Download</h2>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">iOS</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Android</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Windows</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">MacOS</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <span class="footer__copyright">© 2024
                <a href="https://flowbite.com/" class="footer__link">EDAX</a>.
                All Rights Reserved.</span>
            <div class="footer__social-links">
                <a href="#" class="footer__social-link">Facebook</a>
                <a href="#" class="footer__social-link">Discord</a>
                <a href="#" class="footer__social-link">Twitter</a>
                <a href="#" class="footer__social-link">GitHub</a>
                <a href="#" class="footer__social-link">Dribbble</a>
            </div>
        </div>
    </footer>
</body>

</html>